@import "var";
@import "mixins";

*{
    margin: 0;
    padding: 0;

}

html, body{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
//all main block settings
.main_section{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    div{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}
.login_img{
    img{
        padding: 5vw;
        width: 30vw;
        height: 30vw;
    }

}
// form settings
form{
    margin: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    input, button, p{

        text-align: center;
        margin: 10px 0;
        padding: 1vh;
    }

    input {
        border: unset;
        border-bottom: 2px solid $main_button_color;
        height: 20px;
        outline: none;

    }
    button{
        background-color: $main_button_color;
        height: 40px;
        border: unset;
        cursor: pointer;
        &:hover{
            background-color: $main_button_hover_color;
            border-bottom: 2px solid $main_button_color;
        }
    }


    p{
        a{
            @include color_hover( rgb(105, 159, 210),rgb(84, 104, 196) );
        }
    }
}

